@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/ShoppingCart.css" rel="stylesheet" />

<body id="body-config">
    <div class="middle-part">
        <div class="middle-top">
            <div class="heading-text">
                <b>On going DISCOUNT!!!</b>
            </div>
        </div>
        <div class="middle-bottom">
            <div class="table-top">
                <table class="table-cart">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Items</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        @for (int i = 0; i < Model.Items.Count; i++) {
                            var item = Model.Items[i];
                            <tr>
                                <td>@(i + 1)</td>  
                                <td id="itemPic">
                                    <div class="itemName">@item.Name</div>
                                </td>
                                <td id="itemPrice">@item.Price.ToString("C")</td>
                                <td>
                                    <div class="styleQuantity">
                                        <div class="dropQuantity"><i class="fa-solid fa-minus"></i></div>
                                        <p class="item-quantity">@item.Quantity</p>
                                        <div class="addQuantity"><i class="fa-solid fa-plus"></i></div>
                                    </div>
                                </td>
                                <td class="sumAmount">@((item.Price * item.Quantity).ToString("C"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="under-table">
            <table class="calculate">
                <thead>
                    <tr>
                        <th>
                            <div id="itemNumbers">
                                Total items: @ViewBag.TotalItems
                            </div>
                        </th>
                        <th>
                            <div id="totalMoney">
                                Total Amount: @ViewBag.TotalAmount.ToString("C")
                            </div>
                        </th>
                        <th class="confirmPay">
                            <div>
                                Payment
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
