@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ZestyBiteWebAppSolution.Models.ViewModel.IndexViewModel

<section class="home-slider owl-carousel img" style="background-image: url(imgages/bg_1.jpg); ">
    <div class="slider-item" style="background-image: url(/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Our Menu</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Menu</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Our Menu</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="row no-gutters d-flex" style="padding-left: 120px">
            @foreach (var item in Model.Items) {
                <div class="col-md-4" style="word-break: break-all">
                    <div class="menu-item" style="width: 400px">
                        <img src="@item.ItemImage" alt="@item.ItemName" class="img-fluid" style="width: 400px; height: 400px" />
                        <a href="#" class="menu-img img mb-4" style="background-image: url('@item.ItemImage');"></a>
                        <h3>@item.ItemName</h3>
                        <p>@item.ItemDescription</p>
                        <p class="price"><span>@item.SuggestedPrice.ToString("C")</span></p>
                        <p><a href="@Url.Action("ProductDetail", "Home", new { itemId = item.ItemId })" class="btn btn-white btn-outline-white">Order</a></p>
                    </div>
                </div>
            }
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="display: flex; justify-content: center">
                @if (Model.CurrentPage > 1) {
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" onclick="goToPage(@Model.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++) {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="javascript:void(0)" onclick="goToPage(@i)">@i</a>
                    </li>
                }

                @if (Model.CurrentPage < Model.TotalPages) {
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" onclick="goToPage(@Model.CurrentPage + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</section>

<section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(/images/about.jpg);">
            </div>
            <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>
                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>
                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Burgers</a>
                            <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Pasta</a>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex align-items-center">
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <!-- Pizza Tab -->
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="row">
                                    @foreach (var item in Model.PizzaItems) {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url('@item.ItemImage');"></a>
                                                <div class="text">
                                                    <h3>@item.ItemName</h3>
                                                    <p>@item.ItemDescription</p>
                                                    <p class="price"><span>@item.SuggestedPrice.ToString("C")</span></p>
                                                    <p><a href="@Url.Action("ProductDetail", "Home", new { itemId = item.ItemId })" class="btn btn-white btn-outline-white">Order</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- Drinks Tab -->
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="row">
                                    @foreach (var item in Model.DrinkItems) {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url('@item.ItemImage');"></a>
                                                <div class="text">
                                                    <h3>@item.ItemName</h3>
                                                    <p>@item.ItemDescription</p>
                                                    <p class="price"><span>@item.SuggestedPrice.ToString("C")</span></p>
                                                    <p><a href="@Url.Action("ProductDetail", "Home", new { itemId = item.ItemId })" class="btn btn-white btn-outline-white">Order</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- Burgers Tab -->
                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                <div class="row">
                                    @foreach (var item in Model.BurgersItems) {
                                            Console.WriteLine($"Burger Item: {item.ItemName} - {item.ItemCategory}");
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url('@item.ItemImage');"></a>
                                                <div class="text">
                                                    <h3>@item.ItemName</h3>
                                                    <p>@item.ItemDescription</p>
                                                    <p class="price"><span>@item.SuggestedPrice.ToString("C")</span></p>
                                                    <p><a href="@Url.Action("ProductDetail", "Home", new { itemId = item.ItemId })" class="btn btn-white btn-outline-white">Order</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- Pasta Tab -->
                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                <div class="row">
                                    @foreach (var item in Model.PastaItems) {
                                        <div class="col-md-4 text-center">
                                            <div class="menu-wrap">
                                                <a href="#" class="menu-img img mb-4" style="background-image: url('@item.ItemImage');"></a>
                                                <div class="text">
                                                    <h3>@item.ItemName</h3>
                                                    <p>@item.ItemDescription</p>
                                                    <p class="price"><span>@item.SuggestedPrice.ToString("C")</span></p>
                                                    <p><a href="@Url.Action("ProductDetail", "Home", new { itemId = item.ItemId })" class="btn btn-white btn-outline-white">Order</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/menu.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function goToPage(page) {
            window.location.href = '@Url.Action("Menu", "Home")?page=' + page;
        }
    </script>
}